@font-face {
  font-family: 'Maple MonoNL CN';
  font-display: swap;
  src: url('https://cdn.xplanc.org/fonts/MapleMonoNL-CN-Regular.ttf');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg {
  max-width: 100%;
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
}

@media (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--mui-palette-info-main);
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mui-palette-info-light);
}

::-webkit-scrollbar-track {
  background: var(--mui-palette-action-disabledBackground);
}

::-webkit-scrollbar-corner {
  background: var(--mui-palette-action-disabledBackground);
}